In [10]:
menu = ["김밤", "라면", "튀김"]

print(f"오늘의 메뉴 {menu[0]} ")
print(f"오늘의 메뉴 {menu[1]} ")
print(f"오늘의 메뉴 {menu[2]} ")

pf = ["SK하이닉스", "삼성전자", "LG전자"]

print("-"*50)

for i in range(0, len(pf)) :
    print(f"{pf[i]} 보유중")
    

print("-"*50)



pet = ["dog", "cat", "parrot", "squirrel", "goldfish"]

for i in pet:
    print(f"{i} {len(i)}")
    

print("-"*50)



prices = [100, 200, 300]

for i in prices:
    print(f"{i+10}")

오늘의 메뉴 김밤
오늘의 메뉴 라면
오늘의 메뉴 튀김
--------------------------------------------------
SK하이닉스 보유중
삼성전자 보유중
LG전자 보유중
--------------------------------------------------
dog 3
cat 3
parrot 6
squirrel 8
goldfish 8
--------------------------------------------------
110
210
310

In [29]:
prices = ["129,300", "1,000", "2,300"]

for i in prices:
    print(i.replace(",", ""))
    
   
    
print("-"*50)




menu = ["면라", "밥김", "김튀"]

for i in menu :
    print(i[::-1])
    
    
    
print("-"*50)
    
    
    
ml = [1, 2, 3, 4, 5, 6]

for i in ml[::2] :
    print(i)
        
        
        
print("-"*50)
    
    
ml = ["I", "study", "python", "language", "!"]

for i in ml :
    if len(i) >= 3 :
        print(i)

129300
1000
2300
--------------------------------------------------
라면
김밥
튀김
--------------------------------------------------
1
3
5
--------------------------------------------------
study
python
language

In [30]:
ml = [3, 1, 7, 10, 5, 6]

for i in ml :
    if 5 < i and i < 10 :
        print(i)

7
6

In [31]:
ml = [13, 21, 12, 14, 30, 18]

for i in ml :
    if 10 < i and i < 20 and i % 3 == 0 :
        print(i)

12
18

In [38]:
ml = [3, 1, 7, 12, 5, 16]

li = [i for i in ml if i % 3 == 0 or i % 4 == 0]

print(li)

[3, 12, 16]

In [70]:
day = input("Enter the Year, month, day(2022/08/30) : ")

year = int(day.split("/")[0])
month = int(day.split("/")[1])
the_day = int(day.split("/")[2])

num = 0

for i in range(1, year) :
    if i % 400 == 0 :
        num += 366
    elif i % 4 == 0 and i % 100 == 0:
        num += 365
    elif i % 4 == 0 :
        num += 366
    else : 
        num += 365
        
for i in range(1, month) : 
    if year % 4 == 0 or year % 100 == 0 : 
        if i == 1:
            num += 31
        elif i == 2:
            num += 29
        elif i == 3:
            num += 31
        elif i == 4:
            num += 30
        elif i == 5:
            num += 31
        elif i == 6:
            num += 30
        elif i == 7:
            num += 31
        elif i == 8:
            num += 31
        elif i == 9:
            num += 30
        elif i == 10:
            num += 31
        elif i == 11:
            num += 30
        elif i == 12:
            num += 31
    else : 
        if i == 1:
            num += 31
        elif i == 2:
            num += 28
        elif i == 3:
            num += 31
        elif i == 4:
            num += 30
        elif i == 5:
            num += 31
        elif i == 6:
            num += 30
        elif i == 7:
            num += 31
        elif i == 8:
            num += 31
        elif i == 9:
            num += 30
        elif i == 10:
            num += 31
        elif i == 11:
            num += 30
        elif i == 12:
            num += 31


num += the_day

result = num % 7

if result == 1:
    print("월요일")
elif result == 2:
    print("화요일")
elif result == 3:
    print("수요일")
elif result == 4:
    print("목요일")
elif result == 5:
    print("금요일")
elif result == 6:
    print("토요일")
elif result == 0:
    print("일요일")

Enter the Year, month, day(2022/08/30) : 2022/08/30
화요일

In [63]:
21 % 7

0

In [82]:
day = input("Enter the Year, month, day(2022/08/30) : ")

year = int(day.split("/")[0])
month = int(day.split("/")[1])
the_day = int(day.split("/")[2])

month_day = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
day_ = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

num = 0

for i in range(1, year) :
    if i % 400 == 0 : 
        num += 366
    elif i % 4 == 0 and i % 100 == 0 : 
        num += 365
    elif i % 4 == 0 : 
        num += 366
    else : num += 365
        
for i in range(1, month) : 
    num += month_day[i-1]
    if month >= 3:
        if year % 400 == 0 or year % 100 == 0 or year % 4 == 0 : 
            num += 1
        else : 
            pass
        
num += the_day

result = num % 7

for i in range(7) :
    if num % 7 == i :
        print(f"{year}/{month}/{the_day} is {day_[i]}")

Enter the Year, month, day(2022/08/30) : 2022/08/30
2022/8/30 is Tuesday

In [120]:
exam3 = [
{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0},
{'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 85.0, 'order': 0},
{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 85.0, 'order': 0} ]

exam = [{'num':1,'avg':100.0, 'order':0},
              {'num':3,'avg':80.0, 'order':0},
              {'num':3,'avg':80.0, 'order':0},
              {'num':6,'avg':70.0, 'order':0},
              {'num':7,'avg':60.0, 'order':0},
              {'num':3,'avg':80.0, 'order':0},
              {'num':2,'avg':90.0, 'order':0}]

score = []
rank = []
   
for i in range(0, len(exam)) :
    score.append(exam[i]["avg"])


score.sort(reverse=True) 
print(score)

for i in range(0, len(exam)) :
    if i == 0 :
        rank.append(exam[i]["num"])
    if i == len(exam)-1 :
        break

    for y in range(i+1, len(exam)) : 
        if i != len(exam)-1 :
            if exam[y]["avg"] == exam[i]["avg"] :
                rank.append(exam[y]["num"])
                i += 1
                break
        if score[i] == exam[y]["avg"] :
            rank.append(exam[y]["num"])
            i += 1
            break
            
print(rank)

[100.0, 90.0, 80.0, 80.0, 80.0, 70.0, 60.0]
[1, 3, 3, 3, 3]

In [129]:
exam = [{'no':7,'avg':60.0, 'order':0},
              {'no':6,'avg':70.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':2,'avg':90.0, 'order':0},
              {'no':1,'avg':100.0, 'order':0}]

exam = [{'no':1,'avg':100.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':6,'avg':70.0, 'order':0},
              {'no':7,'avg':60.0, 'order':0},
              {'no':3,'avg':80.0, 'order':0},
              {'no':2,'avg':90.0, 'order':0}]

for i in range(len(exam)) :
    for y in range(len(exam)) :
        if exam[i]["avg"] < exam[y]["avg"] :
            exam[i]["order"] += 1

for i in range(len(exam)) : 
    print(exam[i])

{'no': 1, 'avg': 100.0, 'order': 0}
{'no': 3, 'avg': 80.0, 'order': 2}
{'no': 3, 'avg': 80.0, 'order': 2}
{'no': 6, 'avg': 70.0, 'order': 5}
{'no': 7, 'avg': 60.0, 'order': 6}
{'no': 3, 'avg': 80.0, 'order': 2}
{'no': 2, 'avg': 90.0, 'order': 1}

In [131]:
a = []
for x in exam:
    a.append(x['avg'])
    a = set(a)
    a = list(a)
    a.sort(reverse = True)
for x in exam :
    for i in range(0, len(a)):
        if x['avg'] == a[i] :
            x['order'] = i+1

            
for i in range(len(exam)) : 
    print(exam[i])

{'no': 1, 'avg': 100.0, 'order': 1}
{'no': 3, 'avg': 80.0, 'order': 3}
{'no': 3, 'avg': 80.0, 'order': 3}
{'no': 6, 'avg': 70.0, 'order': 4}
{'no': 7, 'avg': 60.0, 'order': 5}
{'no': 3, 'avg': 80.0, 'order': 3}
{'no': 2, 'avg': 90.0, 'order': 2}

In [132]:
def add(a, b) :
    return a + b

print(add(1, 3))

# 4

4

In [140]:
def add_many(*args) : 
    result = 0
    
    for i in args :
        result += i
        
    return result

print(add_many(1, 2, 3, 4, 5))
# 15

15

In [154]:
def ex(**abc) : 
    print(abc)
    
ex(a=1, b="B", lala="c")
# {'a': 1, 'b': 'B', 'lala': 'c'}

{'a': 1, 'b': 'B', 'lala': 'c'}

In [155]:
def double(a, b) :
    return a*b, a+b

x = (double(9,10))
print(x)
# (90, 19)

(90, 19)

In [162]:
def whoiam(word):
    if word == "dog" :
        return
    print(word)
    
whoiam("dog")
# 출력값 없음

In [176]:
def ex(**abc) : 
    print(abc)
    
ex(a=1, food="apple")
# {'a': 1, 'food': 'apple'}

{'a': 1, 'food': 'apple'}

In [179]:
def even_dd(num) :
    if num & 2 == 0 :
        msg = "짝"
    else :
        msg = "홀"
    return "%d은(는) %s수 입니다" % (num, msg)

even_dd(3)
# '3은(는) 홀수 입니다'

'3은(는) 홀수 입니다'

In [180]:
def even_dd(num) :
    if num & 2 == 0 :
        msg = "짝"
    else :
        msg = "홀"
    return f"{num}은(는) {msg}수 입니다" 

even_dd(3)
# '3은(는) 홀수 입니다'

'3은(는) 홀수 입니다'

In [187]:
def favorate_color(name, color, amount) :
    if amount == "1" :
        msg = "좋아하지 않아요."
    elif amount == "2" :
        msg = "조금 좋아해요."
    elif amount == "3" :
        msg = "매우 좋아해요."
    return f"{name}님은 {color}색을 {msg}"

print(favorate_color(input("이름을 입력하세요 : "), input("색을 입력하세요 : "), input("1, 2, 3 중 좋아하는 만큼 입력하세요 : ")))

# 이름을 입력하세요 : 정상록
# 색을 입력하세요 : 하얀
# 1, 2, 3 중 좋아하는 만큼 입력하세요 : 3
# 정상록님은 하얀색을 매우 좋아해요.

이름을 입력하세요 : 정상록
색을 입력하세요 : 하얀
1, 2, 3 중 좋아하는 만큼 입력하세요 : 3
정상록님은 하얀색을 매우 좋아해요.

In [190]:
def sub(a, b):
    return a-b

print(sub(a=10, b=10))
print(sub(b=10, a=20))

# 0
# 10

0
10

In [196]:
def circle_area(r) :
    width = r*r*3.14
    return "반지름 : %d, 원의면적 %.2f" % (r, width)
    
r = int(input("원의 반지름을 입력하세요 : "))
print(circle_area(r))   

# 원의 반지름을 입력하세요 : 20
# 반지름 : 20, 원의면적 1256.00

원의 반지름을 입력하세요 : 20
반지름 : 20, 원의면적 1256.00

In [199]:
def circle_area(r) :
    area = r*r*3.14
    return "반지름 : %d, 원의면적 %.2f" % (r, area)
    
r = int(input("원의 반지름을 입력하세요 : "))
print(circle_area(r))   

# 원의 반지름을 입력하세요 : 20
# 반지름 : 20, 원의면적 1256.00

원의 반지름을 입력하세요 : 222
반지름 : 222, 원의면적 154751.76

In [202]:
def sum2(a, b) :
    result = 0
        for i in range(a, b+1) :
            result += i
        return f"{a}~{b}의 합계 = {result}"

print(sum2(1000, 10000))
# 1000~10000의 합계 = 49505500

1000~10000의 합계 = 49505500

In [204]:
add = lambda a, b : a + b
    
print(add(1, 2))

3

In [207]:
start = int(input("시작 수를 입력하세요 :"))
end = int(input("끝 수를 입력하세요 :"))
besu = int(input("합계를 구할 배수를 입력하세요 :"))

def sum_besu(start, end, besu) : 
    result = 0
    for i in range(start, end+1) : 
        if i % besu == 0 :
            result += i
    return result

result = sum_besu(start, end, besu)

print("%d ~ %d의 정수중 %d의 배수의 합 : %d" % (start, end, besu, result))

# 시작 수를 입력하세요 :1
# 끝 수를 입력하세요 :10
# 합계를 구할 배수를 입력하세요 :3
# 1 ~ 10의 정수중 3의 배수의 합 : 18

시작 수를 입력하세요 :1
끝 수를 입력하세요 :10
합계를 구할 배수를 입력하세요 :3
1 ~ 10의 정수중 3의 배수의 합 : 18

In [229]:
num1 = int(input("첫 번째 수를 입력하세요 : "))
num2 = int(input("두 번째 수를 입력하세요 : "))

def compute_max_gong(a, b) : 
    result = 0
    li1 = []
    
    if a > b :
        c = a
    elif a < b :
        c = b
    else :
        return a
        
    for i in range(1, c+1) :
        if a % i == 0 and b % i == 0 :
            result = i
    
    return result

max_gong = compute_max_gong(num1, num2)

print("%d와(과) %d의 최대공약수 : %d" % (num1, num2, max_gong))

# 첫 번째 수를 입력하세요 : 10
# 두 번째 수를 입력하세요 : 100
# 10와(과) 100의 최대공약수 : 10

첫 번째 수를 입력하세요 : 11
두 번째 수를 입력하세요 : 11
11와(과) 11의 최대공약수 : 11

In [220]:
def compute_max_gong(num1, num2):
    n = 1
    i = 2
    while True:
        if num1 % i == 0 and num2 % i == 0:
            n *= i
            num1 /= i
            num2 /= i
        elif num1 % i == 0:
            num1 /= i
        elif num2 % i == 0:
            num2 /= i
        else:
            i += 1
        if num1 == 1 or num2 == 1:
            return n

In [226]:
def compute_max(start, end):
    c_m = 0
    for i in range(1, start+1):
        if start%i==0 and end%i==0 :
            c_m = i
    return c_m

start = int(input('시작 수를 입력하세요 : '))
end = int(input("끝 수를 입력하세요 : "))
max_common_measure = compute_max(start, end)
print(f'{start}과(와) {end}의 최대공약수 : {max_common_measure}')

시작 수를 입력하세요 : 10
끝 수를 입력하세요 : 100
10과(와) 100의 최대공약수 : 10