<class 'tuple'>

TypeError: 'tuple' object is not callable

In [72]:
DS = tuple()
t1 = 1,
t = 1, 2, 3, 4
print(type(t))

x = ('a', 'b', 'c')
x = list(x)
x[0] = "A"
x = tuple(x)
print(x)

wish = ('구글', '아마존', '페이스북')
list(wish)
tuple(wish)
print(type(wish))

my_data = (1, 2, 3)
a, b, c = my_data
print(a + b + c)
# 6

t2 = (4, 2, 1, 8)
t3 = 9,
t4 = t2 + t3
print(t4)

<class 'tuple'>
('A', 'b', 'c')
<class 'tuple'>
6
(4, 2, 1, 8, 9)

In [83]:
d = {'sex' : "female", "age" : 30, "name" : "mina"}
print(d)
print(d["sex"])
print(d["age"])

{'sex': 'female', 'age': 30, 'name': 'mina'}
female
30

In [93]:
dic1 = {"name" : "Sang Rok Jung", "grade" : 2, "van" : 1, "no" : 26}
del dic1["grade"]
print(dic1)

dic1["name"] = "정상록"
print(dic1)

dic1["grade"] = 4
print(dic1)

{'name': 'Sang Rok Jung', 'van': 1, 'no': 26}
{'name': '정상록', 'van': 1, 'no': 26}
{'name': '정상록', 'van': 1, 'no': 26, 'grade': 4}

In [100]:
score1 = {"A" : 99, "B" : 91, "C" : 83, "D" : 100}
print(score1["C"])
# 83

st1 = {"st1" : "정상록", "st2" : "이원준", "st3" : "한재희"}
print(st1["st3"])
# 한재희

83
한재희

In [118]:
a = {'gender' : "Female", "age" : "30", "name" : "Kristina"}

print(a.keys())

li1 = list(a.keys())
print(li1)

li2 = list(a)
print(li2)

a.values()

a.clear()
print(a)

a = {'gender' : "Female", "age" : "30", "name" : "Kristina"}

print(a.get("gender"))

print(a.get("height"))

print(a.get("height", "데이터 없다"))

print("gender" in a)

print("height" in a)

dict_keys(['gender', 'age', 'name'])
['gender', 'age', 'name']
['gender', 'age', 'name']
{}
Female
None
데이터 없다
True
False

In [141]:
s = set()
s1 = {1}
s2 = {}
print(type(s), type(s1), type(s2))

s = "abcdef"
s = set(s)
sc = s
print(sc, type(s))

sc = list(sc)
print(sc, type(sc))
print(sc[0])

<class 'set'> <class 'set'> <class 'dict'>
{'a', 'e', 'd', 'c', 'f', 'b'} <class 'set'>
['a', 'e', 'd', 'c', 'f', 'b'] <class 'list'>
a

In [147]:
x = {1, 2, 3, 4, 5}
y = {3, 4, 5, 6, 7}

print(x&y)
print(x|y)
print(x-y)
print(y-x)
print(x^y)

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{1, 2, 6, 7}

In [152]:
x = {1, 2, 3, 4, 5}
x.add(10)
print(x)

x.update([11, 12, 13])
print(x)

x.remove(13)
print(x)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 10, 11, 12}

In [165]:
DS = {}
print(type(DS))

icecream = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
icecream["죠스바"] = 1200
icecream["월드콘"] = 1500

print(icecream.get("메로나"))

icecream["메로나"] = 1200

del icecream["메로나"]

inventory = {"메로나" : [300, 20], "비비빅" : [400, 3], "죠스바" : [250, 100]}

print(inventory["메로나"][0])

print(inventory["메로나"][1])

inventory["월드콘"] = [500, 7]

<class 'dict'>
1000
300
20

In [177]:
x1 = 2
x2 = 5

print(x1 + x2)
print(x2 - x1)
print(x1 * 2)
print(x1 ** 2)
print(x2 // 2)
print(x2 % x1)

7
3
4
4
2
1

In [183]:
a = 20
a += 5
a -= 10
a *= 2
a /= 3
print(a)

c = 3
b = 2
c *= (2+b)
c *= (b-5)
print(c)

10.0
-36

In [186]:
a = 95

print(a != 90)
print(a > 90)
print(a < 90)
print(a >= 90)
print(a <= 90)
print(90 <= a <= 100)
print(100 <= a <= 110)
print(70 <= a <= 80)

True
True
False
True
False
True
False
False

In [195]:
a = [1, 2, "hello World"]
b = [1, 2, "hello World"]

print(a==b)
print(a!=b)

print(id(a) is id(b))
print(id(a))
print(id(b))

a.append("A")

print(id(a))

True
False
False
140484231827648
140484497929920
140484231827648

In [202]:
member = [1, 2, "hello world"]

print(2 in member)
if 2 not in member : print(True)

member_dict = {"a" : 1, "b" : 2, "c" : 3}

if "a" in member_dict : print(True)

True
True

In [218]:
a = True
b = False

print(a and b)
print(a & b)
print(a or b)
print(a | b)
print(not a)
print(not b)
print(not(a & b))

False
False
True
True
False
True
True

In [219]:
name = '홍길동'
age = 30
height = 173.7

print(name, age,  height)

홍길동 30 173.7

In [225]:
x = 10
y = 20
print("x = " + str(x) + ", y = " + str(y))

x = 10, y = 20

In [237]:
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print("두 과목 점수 : %d점, %d점 \n합계 : %d점, 평균 %.2f점" % (score1, score2, sum, avg))
# 두 과목 점수 : 80점, 87점
# 합계 : 167점, 평균 83점

두 과목 점수 : 80점, 87점
합계 : 167점, 평균 83.50점

In [238]:
year = 2000
month = 3
day = 5

print(year, month, day, sep = "/")

2000/3/5

In [243]:
a = '안녕하세요.'
b = '반갑습니다.'

print(a, end=" ")
print(b)
print(a, end=b)

안녕하세요. 반갑습니다.
안녕하세요.반갑습니다.

In [250]:
name = input("이름을 입력하세요.")
print(name + "님 반갑습니다.")
print("%s님 반갑습니다." % name)

이름을 입력하세요.저
저님 반갑습니다.
저님 반갑습니다.

In [258]:
a = input("첫번째 수를 입력하세요 : ")
b = input("두번째 수를 입력하세요 : ")
c = int(a) + int(b)
print("a + b = %d" % c)

첫번째 수를 입력하세요 : 10
두번째 수를 입력하세요 : 20
a + b = 30

In [269]:
inch = input("inch를 입력하세요 : ")
cm = int(inch) * 2.54
print("%dinch = %.2fcm" % (int(inch), cm))

inch를 입력하세요 : 1
1inch = 2.54cm

In [271]:
# 프로그램명 : 두수 더하기
# 작성자 : 홍길동
# 작성일 : 2022.9.1

print("""
이것은 주석입니다.
This is zoosuck
""")

이것은 주석입니다.
This is zoosuck

In [274]:
bass = input("밑변의 길이를 입력하시오 : ")
height = input("세로 길이를 입혁하시오 : ")

area = int(bass) * int(height) * 0.5

print("삼각형의 넓이 = %.2f" % area)

밑변의 길이를 입력하시오 : 234
세로 길이를 입혁하시오 : 43
삼각형의 넓이 = 5031.00

In [275]:
price = 800
buy = 3
pay = 5000
cha = pay - (price*buy)

print("물건 가격 : %d원\n구매개수 : %d개\n지불금액 : %d\n거스름돈 : %d원" % (price, buy, pay, cha))

물건 가격 : 800원
구매개수 : 3개
지불금액 : 5000
거스름돈 : 2600원

In [277]:
price = int(input("가격을 입력하세요 : "))
buy = int(input("구매한 량을 입력하세요 : "))
pay = int(input("지불한 금액을 입력하세요 : "))
cha = pay - (price*buy)

print("물건 가격 : %d원\n구매개수 : %d개\n지불금액 : %d원\n거스름돈 : %d원" % (price, buy, pay, cha))

가격을 입력하세요 : 200
구매한 량을 입력하세요 : 2
지불한 금액을 입력하세요 : 4000
물건 가격 : 200원
구매개수 : 2개
지불금액 : 4000
거스름돈 : 3600원

In [281]:
x = 20
y = 4
x = y % x
print(x)

y -= x*2
print(y)

4
-4