In [11]:
class Encore :
    def __init__(self, name, age) :
        self.name = name
        self.age = age
        
    def showMember(self) : 
        print("이름 : %s" % self.name)
        print("나이 : %d" % self.age)

mem1 = Encore("jung", 25)

list1 = [Encore("Karim", 55), Encore("Venzeam", 33)]

mem1.showMember()

for i in list1:
    i.showMember()
    
# 이름 : jung
# 나이 : 25
# 이름 : Karim
# 나이 : 55
# 이름 : Venzeam
# 나이 : 33

이름 : jung
나이 : 25
이름 : Karim
나이 : 55
이름 : Venzeam
나이 : 33

In [26]:
class Calculator : 
    def __init__ (self):
        self.result = 0
    
    def add(self, a) : 
        return self.result + a
    
    
    
cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))

3
4

In [34]:
def func() :
    print("-"*30)
    print("func() 함수입니다.")
    print("-"*30)
    
fun1 = func()
fun2 = func()

print("id of f1 : ", id(fun1))
print("id of f2 : ", id(fun2))

class Person : 
    def name(self, name) : 
        self.name = name
    def say_hello(self) :
        print("%s\n안녕하세요 \nid(self) : %d\nself.name : %s\n%s" % ("-" *30, id(self.name), self.name, "-" *30))

    
p1 = Person()
p2 = Person()
print("id of p1:", id(p1))
print("id of p2:", id(p2), "\n")
p1.name("kim")
p2.name("park")
print("p1.name:", p1.name)
print("p2.name:", p2.name)
p1.say_hello()
p2.say_hello()

------------------------------
func() 함수입니다.
------------------------------
------------------------------
func() 함수입니다.
------------------------------
id of f1 :  4453432288
id of f2 :  4453432288
id of p1: 140542484097776
id of p2: 140542484156720

p1.name: kim
p2.name: park
------------------------------
안녕하세요
id(self) : 140542344058992
self.name : kim
------------------------------
------------------------------
안녕하세요
id(self) : 140542344628656
self.name : park
------------------------------

In [39]:
class Book : 
    def __init__(self) : 
        self.title = ""
        self.name = ""
    
    def book_info_input(self, name) :
        self.name = name
        
    def book_info_print(self) :
        print(f"{self.title}/{self.name}")
    
    
    
b1 = Book()
b2 = Book()
b1.title = "메밀꽃 필 무렵"
b2.title = "마지막 잎 새"
print("b1.title : ", b1.title)
print("b2.title : ", b2.title)
b1.book_info_input("이효석")
b2.book_info_input("오헨리")
b1.book_info_print()
b2.book_info_print()

# b1.title :  메밀꽃 필 무렵
# b2.title :  마지막 잎 새
# 메밀꽃 필 무렵/이효석
# 마지막 잎 새/오헨리

b1.title :  메밀꽃 필 무렵
b2.title :  마지막 잎 새
메밀꽃 필 무렵/이효석
마지막 잎 새/오헨리

In [54]:
class Circle : 
    pi = 3.141592 
    def __init__(self, radius) : 
        self.radius = radius
        self.area = 0
        self.circum = 0
        
    def getArea(self) :
        self.area = self.radius * self.radius * Circle.pi
        return self.area
    
    def getCircum(self) :
        self.circum = self.radius * 2 * Circle.pi
        return self.circum
    
    
cir1 = Circle(10) 
print("반지름 : %d" % cir1.radius)
print("넓이 : %.2f" % round(cir1.getArea(), 2))
print("둘레 : %.2f" % round(cir1.getCircum(), 2))
# 반지름 : 10
# 넓이 : 314.16
# 둘레 : 62.83

cir2 = Circle(5) 
print("반지름 : %d" % cir2.radius)
print("넓이 : %.2f" % round(cir2.getArea(), 2))
print("둘레 : %.2f" % round(cir2.getCircum(), 2))
# 반지름 : 5
# 넓이 : 78.54
# 둘레 : 31.42

반지름 : 10
넓이 : 314.16
둘레 : 62.83
반지름 : 5
넓이 : 78.54
둘레 : 31.42

In [76]:
class SumAvg : 
    title = "--3과목 합계와 평균--"
    def __init__(self, name, kor, eng, math) :
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
    def getSum(self) : 
        return self.kor + self.eng + self.math
    def getAvg(self) : 
        return self.getSum() / 3

s1 = SumAvg("이순신", 78, 57, 100)
    
print(SumAvg.title)
print(f"name : {s1.name} \nkor : {s1.kor}\nmath : {s1.math}\neng : {s1.eng}\nSum : {round(s1.getSum(), 2)}\nAvg : {round(s1.getAvg(), 2)}")

# --3과목 합계와 평균--
# name : 이순신 
# kor : 78
# math : 100
# eng : 57
# Sum : 235
# Avg : 78.33

--3과목 합계와 평균--
name : 이순신
kor : 78
math : 100
eng : 57
Sum : 235
Avg : 78.33

In [82]:
class Calculator() :
        
    def some_numbers(self, *args) :
        self.li1 = args
    
    def total(self) :
        return sum(self.li1)
    
a = Calculator()
a.some_numbers(2, 4, 6)
print(a.total())
# 12

b = Calculator()
b.some_numbers(1, 2, 3, 4, 5)
print(b.total())
# 15

12
15

In [86]:
class Operation() :
    def add(self, f, s) : 
        return f+s
    def mul(self, f, s) : 
        return f*s
    def sub(self, f, s) :
        return f-s
    def div(self, f, s) :
        return f/s
    
x = Operation()
    
f = int(input("첫번째 수를 입력하세요 : "))
s = int(input("두번째 수를 입력하세요 : "))
    
print(x.add(f, s))
print(x.mul(f, s))
print(x.sub(f, s))
print(x.div(f, s))

첫번째 수를 입력하세요 : 4
두번째 수를 입력하세요 : 2
6
2
8
2.0

In [114]:
class Triangle :
    def __init__(self, width, height) :
        self.width = width
        self.height = height
    def calculation(self) :
        return round((self.width * self.height ) / 2, 2)
    

t1 = Triangle(3, 4)
print(t1.calculation())
# 6.0

t2 = Triangle(10, 20)
print(t2.calculation())
# 100

6.0
100.0

In [143]:
class EngSentence :
    def __init__(self, word) :
        self.word = word
    
    def reverse(self) :
        return self.word[::-1]
        
    def insertHypen(self):
        return self.word.replace(" ", "-")
    
    def get(self) :
        print("역순 : %s\n하이픈 삽입 : %s" % (self.reverse(), self.insertHypen()))
    
a = input("Enter the sentence : ")    
eng1 = EngSentence(a)
eng1.get()

# Enter the sentence : We are the champion!
# 역순 : !noipmahc eht era eW
# 하이픈 삽입 : We-are-the-champion!

Enter the sentence : We are the champion!
역순 : !noipmahc eht era eW
하이픈 삽입 : We-are-the-champion!

In [165]:
class Operation :
    def __init__(self, a, b) : 
        self.a = a
        self.b = b
    
    def add(self) :
        return self.a + self.b
    def mul(self) :
        return self.a * self.b
    def sub(self) :
        return self.a - self.b
    def div(self) :
        return round(self.a / self.b, 2)
        
class Sample(Operation) :
    def squ(self) :
        return self.a ** self.b

a = Sample(5, 9)
print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
print(a.squ())

# 14
# 45
# -4
# 0.56
# 1953125

14
45
-4
0.56
1953125

In [166]:
class Sample(Operation) : 
    
    def div(self) :
        if self.b == 0:
            return 0
        else : 
            return round(self.a / self.b, 2)
        
a = Sample(4, 0)
a.div()
# 0

0

In [230]:
class Person :
    def __init__ (self, name, age) :
        self.age = age
        self.name = name
    def printInfo(self) :
        print(f"name : {self.name}\nage : {self.age}")
    
        
p1 = Person("Karim", 25) 
p2 = Person("Cristal", 19)


class Student(Person) :
    def __init__(self, name, age, school, major) :
        super().__init__(name, age)
        self.school = school
        self.major = major
    def printInfo(self) :
        super().printInfo()
        print(f"school : {s1.school}\nmajor : {s1.major}" )
    def __str__(self) :
        return f"{self.name}은 {self.age}, {self.major}, {self.school}입니다."

str(Student("정상록", 25, "뉴욕주립대", "작곡"))

s1 = Student("Jeni", 20, "Yale University", "CS")

s1.printInfo()

# name : Jeni
# age : 20
# school : Yale University
# major : CS

name : Jeni
age : 20
school : Yale University
major : CS

In [217]:
class mClass : 
    def __init__(self) :
        print("mClass1")
    def getMother(self, mother) :
        self.mother = mother
        return self.mother
        
class fClass : 
    def __init__(self) :
        print("mClass2")
    def getFather(self, father) :
        self.father = father
        return self.father

class sunClass(mClass, fClass) :
    def __init__(self) :
        super().__init__()
        print("sunClass")
    def getSun(self, sun) :
        self.sun = sun
        return self.sun
    
    def __str__(self) :
        return f""
        
cl1 = sunClass()
cl1.getMother("어머니")
cl1.getFather("아버지")
cl1.getSun("아들")

mClass1
sunClass

'아들'

In [231]:
str(Student("정상록", 25, "뉴욕주립대", "작곡"))

'정상록은 25, 작곡, 뉴욕주립대입니다.'