In [5]:
def adder(x, y=1) :
    return x+y+z+a

adder(1, 2, 3)

7

In [7]:
def adder(*args) :
    result = 0
    for i in args : 
        result += i
    return result

print(adder(1, 2, 3, 4, 5))
# 15

15

In [14]:
def average(*args) : 
    total = 0
    for i in args :
        total += i
    return "%d과목의 평균 : %.2f점" % (len(args), (total / len(args)))

print(average(87, 98, 97, 76))
# 4과목의 평균 : 89.50점

4과목의 평균 : 89.50점

In [36]:
def two_choice(word, *args) : 
    result = 0
    if word == "arthimetic" :
        for i in args :
            result += i
    elif word == "multiplication" :
        result = 1
        for i in args : 
            result *= i
    return result

print(two_choice("multiplication", 1, 2, 3, 4, 5))

120

In [28]:
def smple(a, *args) :
    result = args[0]
    print(args[0])
    print(result)
    
smple(1, 2, 3, 4)

2
2

In [37]:
def two_choice(word, *args):
    s = 1
    s = sum(args) if word == 'arithmetic' else mul(*args) if word == 'multiplication' else 0
    return s

two_choice("arithmetic", 1, 2, 3, 4, 5)
# 15

15

In [44]:
li1 = list(range(10))
print(li1)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

li2 = [i for i in range(10)]
print(li1)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


li3 = []
for i in range(10):
    li3.append(i)
print(li3)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
li = [list(range(5)), list(range(5))]

print(li)
# [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [87]:
def intro(**kwargs) :
    print("Data type of arguments : %s \nFirst name : %s\nLast name : %s\nAge is %d\nPhone is %s" % (type(kwargs), kwargs["Firstname"], kwargs["Lastname"], kwargs["Age"], kwargs["Phone"]))

intro(Firstname = "Dave", Lastname = "Karim", Age = 32, Phone= "010345325565")
    
# Data type of arguments : <class 'dict'> 
# First name : Dave
# Last name : Karim
# Age is 32
# Phone is 010345325565

Data type of arguments : <class 'dict'>
First name : Dave
Last name : Karim
Age is 32
Phone is 010345325565

In [88]:
def intro(**kwargs):
    print(f'Data type of argument: {type(kwargs)}')
    for i in range(len(kwargs)):
        print(f'{list(kwargs.keys())[i]} is {kwargs[list(kwargs.keys())[i]]}')
intro(Firstname='Dave', Lastname='Karim', Age=32, Phone=1034567890)

Data type of argument: <class 'dict'>
Firstname is Dave
Lastname is Karim
Age is 32
Phone is 1034567890

In [91]:
def intro(**kwargs) :
    s = ("Data type of arguments : %s \nFirst name : %s\nLast name : %s\nAge is %d\nPhone is %s" % (type(kwargs), kwargs["Firstname"], kwargs["Lastname"], kwargs["Age"], kwargs["Phone"]))
    return s
    
    
a = intro(Firstname = "Dave", Lastname = "Karim", Age = 32, Phone= "010345325565")
a.replace(" ", " ")

"Data type of arguments : <class 'dict'> \nFirst name : Dave\nLast name : Karim\nAge is 32\nPhone is 010345325565"

In [92]:
def intro(**kwargs) :
        print(f'Data type of argument: {type(kwargs)}')
        for key, value in kwargs.items() :
            print(f"{key} is {value}")

intro(Firstname = "Dave", Lastname = "Karim", Age = 32, Phone= "010345325565")
    
# Data type of argument: <class 'dict'>
# Firstname is Dave
# Lastname is Karim
# Age is 32
# Phone is 010345325565

Data type of argument: <class 'dict'>
Firstname is Dave
Lastname is Karim
Age is 32
Phone is 010345325565

In [98]:
def intro(**args):
        print('Data type of argument : ', type(args))
        l = list(args.keys())
        r = list(args.values())
        test = ''
        for i in range(len(args)):
            test += str(l[i])
            test += str(r[i])
            print(test)

print(intro(Firstname = "Dave", Lastname = "Karim", Age = 32, Phone= "010345325565"))

Data type of argument :  <class 'dict'>
FirstnameDave
FirstnameDaveLastnameKarim
FirstnameDaveLastnameKarimAge32
FirstnameDaveLastnameKarimAge32Phone010345325565
None

In [95]:
def f(a, *args, **kwargs) : 
    return a, args, kwargs 

print(f("a", 1, 2, 3, 4, b=5))

('a', (1, 2, 3, 4), {'b': 5})

TypeError: 'int' object is not iterable

In [127]:
def join(agree = True, **self) :
    print(self["name"])
    print(self["Age"])
    
    if agree == True :
        msg = f"회원가입 완료! {self}"
    else :
        msg = "please Agree."
    return msg
        
join(name = "Karim", Age = 10)

Karim
10

"회원가입 완료! {'name': 'Karim', 'Age': 10}"

In [129]:
def join(agree = True, **self) :
    print(self["name"])
    print(self["Age"])
    
    if agree == True :
        msg = f"회원가입 완료! {self["name"]}"
    else :
        msg = "please Agree."
    return msg
        
join(name = "Karim", Age = 10)

Karim
10

"회원가입 완료! {'name': 'Karim', 'Age': 10}"

In [132]:
x = lambda a, b : a+b

print(x(1, 10))

11

In [133]:
f = lambda a, b, c : a+b+c
print(f(1,2,3))

6

In [142]:
def smp(n) :
    return 5 * n

print(smp(2))

10

In [146]:
def mul(n) :
    return lambda x : x * n

a = mul(5)
# a = lambda x : x * 5
print(a(5))
# 25

25

In [147]:
print(id(x))

140483555596464

In [191]:
d = {"name":"Karim", "Age":10}

print(d["name"])
print("%s 사전형이다" % (d["name"]))
print(f'혹시 {d["name"]} {d["name"]} 혹시')

Karim
Karim 사전형이다
혹시 Karim Karim 혹시

In [161]:
d = {'name':'BlockDMask','gender':'man','age':100}

result = f'my name {d["name"]}, gender {d["gender"]}, age {d["age"]}'

print(f'my name {d["name"]}, gender {d["gender"]}, age {d["age"]}')

my name BlockDMask, gender man, age 100

In [175]:
# del x

def func() :
    x = 100
    
# print(x)
# print(id(x))

x = 10

print(x)
print(id(x))
func()
print(x)

10
140484756564560
10

In [199]:
def func() : 
    global x
    x = 100
    
x = 10
print(f"x = {x}, {id(x)}")
# x = 10, 140484756564560

func()
print(f"x = {x}, {id(x)}")
# x = 100, 140484756755920

x = 10, 140484756564560
x = 100, 140484756755920

In [3]:
eng_dict = {"orange":"오렌지", "cookie":"과자", "mother":"어머니", "brother":"형제", "python":"파이썬"}

def matchWord(word, answer) :
    msg = "맞습니다" if word == answer else "아닙니다."
    return msg

for key in eng_dict : 
    string = input(f'{eng_dict[key]} 에 맞는 영단어는 ? ')
    result = matchWord(string, key)
    print(result)

오렌지 에 맞는 영단어는 ? orange
맞습니다
과자 에 맞는 영단어는 ? cookie
맞습니다
어머니 에 맞는 영단어는 ? mother
맞습니다

KeyboardInterrupt: Interrupted by user

In [218]:
def add(a, b) :
    if a + b == a+b :
        return True
    if a + b == a+b :
        return False
    
    
    
    
    

print(add(5, 6))





# 함수를 쓰는데 목적이 존재하고 
# 그 목적의 결과물을 내보는데 return필요
# 함수에 return이 꼭 존재해야 하는건 아님

True

In [227]:
di1 = {'a' : 1}
print(di1.has_key('a'))

AttributeError: 'dict' object has no attribute 'has_key'

In [230]:
dict = {'Name': 'Zara', 'Age': 7}

print ("Value : %s" %  dict.has_key('Age'))
print ("Value : %s" %  dict.has_key('Sex'))

AttributeError: 'dict' object has no attribute 'has_key'

In [5]:
a = int(input('첫 번째 수를 입력하세요: '))
b = int(input('두 번째 수를 입력하세요: '))
c = int(input('세 번째 수를 입력하세요: '))

def maxThree(a, b, c) :
    li1 = list()
    li1.append(a)
    li1.append(b)
    li1.append(c)
    return max(li1)

max_num = maxThree(a, b, c)

print('%d, %d, %d 중 가장 큰 수 : %d' % (a, b, c, max_num))

첫 번째 수를 입력하세요: 54
두 번째 수를 입력하세요: 78
세 번째 수를 입력하세요: 12
54, 78, 12 중 가장 큰 수 : 78

In [10]:
a = int(input('첫 번째 수를 입력하세요: '))
b = int(input('두 번째 수를 입력하세요: '))
c = int(input('세 번째 수를 입력하세요: '))

def maxThree(a, b, c) :
    li1 = list()
    li1.extend([a, b, c])
    return max(li1)

max_num = maxThree(a, b, c)

print('%d, %d, %d 중 가장 큰 수 : %d' % (a, b, c, max_num))

첫 번째 수를 입력하세요: 35
두 번째 수를 입력하세요: 24
세 번째 수를 입력하세요: 3
35, 24, 3 중 가장 큰 수 : 35

In [14]:
a = int(input('첫 번째 수를 입력하세요: '))
b = int(input('두 번째 수를 입력하세요: '))
c = int(input('세 번째 수를 입력하세요: '))

def maxTwo(a, b) : 
    return max(a, b)
    
def maxThree(a, b, c) :
    return max(maxTwo(a, b), maxTwo(b, c))

max_num = maxThree(a, b, c)

print('%d, %d, %d 중 가장 큰 수 : %d' % (a, b, c, max_num))

# 첫 번째 수를 입력하세요: 25
# 두 번째 수를 입력하세요: 333
# 세 번째 수를 입력하세요: 54
# 25, 333, 54 중 가장 큰 수 : 333

첫 번째 수를 입력하세요: 25
두 번째 수를 입력하세요: 333
세 번째 수를 입력하세요: 54
25, 333, 54 중 가장 큰 수 : 333

In [15]:
a = int(input('첫 번째 수를 입력하세요: '))
b = int(input('두 번째 수를 입력하세요: '))
c = int(input('세 번째 수를 입력하세요: '))

def maxTwo(a, b) : 
    return max(a, b)
    
def maxThree(a, b, c) :
    return max(maxTwo(a, b), c)

max_num = maxThree(a, b, c)

print('%d, %d, %d 중 가장 큰 수 : %d' % (a, b, c, max_num))

# 첫 번째 수를 입력하세요: 25
# 두 번째 수를 입력하세요: 333
# 세 번째 수를 입력하세요: 54
# 25, 333, 54 중 가장 큰 수 : 333

첫 번째 수를 입력하세요: 24
두 번째 수를 입력하세요: 24
세 번째 수를 입력하세요: 31
24, 24, 31 중 가장 큰 수 : 31

In [19]:
for i in range(10) : 
    if i % 2 == 0 :
        print(i)
        
print(i) for i in range(10) if i % 2 == 0

SyntaxError: invalid syntax (544941045.py, line 5)

In [20]:
li = [i for i in range(10) if i % 2 == 0]
print(li)
# [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [51]:
# 절대값 리턴 abs()
print(abs(-7), abs(7))
# 7 7
 
# 반복가능한 매개변수로 저장된 값이 모두 True면 True를 아니면 False를 반환 all()
print(all([1, 2, 3]))
# True
print(all([]))
# True
print(all([1, False]))

# 매개변수로 전달된 반복 가능한 값이 하나라도 True면 True를 아니면 False 반환 any()
print(any([False]))
# False
print(any([True, False]))
# True


# 실행가능한 문자열을 입력받아 문자열을 실행 한 값을 리턴
print(eval("1+2"))
# 3"
# print(eval(""good+morning""))


# 조건에 맞는 데이터를 찾는다.
# filter(필터링을 적용할 함수, 반복가능한데이터)
num = list(range(1, 10))
def jjak(a) : 
    return a % 2 ==0

jjak_list = list(filter(jjak, num))
print(jjak_list)
# [2, 4, 6, 8]

for i in filter(jjak, num) :
    print("%d is jjaksu" % i)
# 2 is jjaksu
# 4 is jjaksu
# 6 is jjaksu
# 8 is jjaksu



# map()
# map(적용할 함수, 반복가능한객체)
def fun(num) : 
    return num * 100
print(map(fun, list(range(1, 5))))
print(list(map(fun, list(range(1, 5)))))
# <map object at 0x7f9668a42dc0>
# [100, 200, 300, 400]



# pow(x, y) 
# x를 y제곱하여 반환




# sorted() 반복가능한 데이터를 정렬하여 데이터를 리턴한다.
# sort() 반복가능한 파라미터의 데이터를 정렬한다.
# zip() 리스트나 튜플 같은 반복 가능한 데이터를 같은 위치의 요소 끼리 하나로 묶어준다.
name = ["a", 'B', 'C']
age = [11, 44, 33]
height = [243,132, 243]
result = zip(name, sorted(age), sorted(height))
print(result)
print(list(result))
# <zip object at 0x7f9668a32580>
# [('a', 11, 243), ('B', 44, 132), ('C', 33, 243)]

7 7
True
True
False
False
True
3
[2, 4, 6, 8]
2 is jjaksu
4 is jjaksu
6 is jjaksu
8 is jjaksu
<map object at 0x7f9668a42dc0>
[100, 200, 300, 400]
<zip object at 0x7f9678febdc0>
[('a', 11, 132), ('B', 33, 243), ('C', 44, 243)]

In [49]:
age = [11, 44, 33]
age.sort()
print(age)

[11, 33, 44]

In [52]:
file = open("new.txt", "w")

In [53]:
f = open("sampl1.txt", "w")
f.write("안녕하세요. 반갑습니다.")
f.close()

In [73]:
import os
print(os.getcwd())
# /Users/werther

f = open("sample2.txt", "w")

for i in range(1, 10) :
    data = "%d 번째 줄입니다. \n" % i
    f.write(data)

f.close()


# 1 번째 줄입니다. 
# 2 번째 줄입니다. 
# 3 번째 줄입니다. 
# 4 번째 줄입니다. 
# 5 번째 줄입니다. 
# 6 번째 줄입니다. 
# 7 번째 줄입니다. 
# 8 번째 줄입니다. 
# 9 번째 줄입니다.

/Users/werther

In [74]:
import os
print(os.getcwd())
# /Users/werther

f = open("sample2.txt", "w")

f.write("-" * 10 + "\n")

for i in range(1, 4) :
    data = "%d 번째 항목 \n" % i
    f.write(data)
    
f.write("-" * 10)

f.close()


# ----------
# 1 번째 항목 
# 2 번째 항목 
# 3 번째 항목 
# ----------

/Users/werther

In [81]:
scores = ['김소영 82 80 93 97 93 88',
            '정예린 86 100 93 86 90 77',
            '이세영 91 88 99 79 92 68',
            '정수정 86 100 93 89 92 93',
            '박지수 80 100 95 89 90 84']

for i in scores :
    print(f"{i} \n")
    
f = open("scores.txt", "w")
for i in scores :
    data = f"{i} \n"
    f.write(data)
    
f.close()

김소영 82 80 93 97 93 88

정예린 86 100 93 86 90 77

이세영 91 88 99 79 92 68

정수정 86 100 93 89 92 93

박지수 80 100 95 89 90 84

In [83]:
jjak_list = [i if i % 2 == 0 else "False" for i in range(1, 11)]

print(jjak_list)
# ['False', 2, 'False', 4, 'False', 6, 'False', 8, 'False', 10]

['False', 2, 'False', 4, 'False', 6, 'False', 8, 'False', 10]

In [89]:
f = open("scores.txt", "r")
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
bool(f.readline())

f.close()

김소영 82 80 93 97 93 88

정예린 86 100 93 86 90 77

이세영 91 88 99 79 92 68

정수정 86 100 93 89 92 93

박지수 80 100 95 89 90 84

In [95]:
scores = ['김소영 82 80 93 97 93 88',
            '정예린 86 100 93 86 90 77',
            '이세영 91 88 99 79 92 68',
            '정수정 86 100 93 89 92 93',
            '박지수 80 100 95 89 90 84']

f = open("scores.txt", "r")

while True :
    line = f.readline()
    if not line : 
        break
    print(line)
    
f.close()


# 김소영 82 80 93 97 93 88 

# 정예린 86 100 93 86 90 77 

# 이세영 91 88 99 79 92 68 

# 정수정 86 100 93 89 92 93 

# 박지수 80 100 95 89 90 84

김소영 82 80 93 97 93 88

정예린 86 100 93 86 90 77

이세영 91 88 99 79 92 68

정수정 86 100 93 89 92 93

박지수 80 100 95 89 90 84

In [96]:
f = open("scores.txt", "r")

lines = f.readlines()
print(lines)
    
f.close()

# ['김소영 82 80 93 97 93 88 \n', '정예린 86 100 93 86 90 77 \n', '이세영 91 88 99 79 92 68 \n', '정수정 86 100 93 89 92 93 \n', '박지수 80 100 95 89 90 84 \n']

['김소영 82 80 93 97 93 88 \n', '정예린 86 100 93 86 90 77 \n', '이세영 91 88 99 79 92 68 \n', '정수정 86 100 93 89 92 93 \n', '박지수 80 100 95 89 90 84 \n']

In [97]:
f = open("scores.txt", "r")

lines = f.read()
print(lines)
    
f.close()

# 김소영 82 80 93 97 93 88 
# 정예린 86 100 93 86 90 77 
# 이세영 91 88 99 79 92 68 
# 정수정 86 100 93 89 92 93 
# 박지수 80 100 95 89 90 84

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [104]:
f = open("scores.txt", "r")

print("%s의 내용" % f)
lines = f.readlines()
for i in lines :
    i.replace("\n", "")
    print(i)
    
f.close()

<_io.TextIOWrapper name='scores.txt' mode='r' encoding='UTF-8'>의 내용
김소영 82 80 93 97 93 88

정예린 86 100 93 86 90 77

이세영 91 88 99 79 92 68

정수정 86 100 93 89 92 93

박지수 80 100 95 89 90 84

In [136]:
f = open("scores.txt", "r")

print("-"*30)

lines = f.readlines()
for i in lines :
    student = i.split(" ")
    score = li[1:7]
    
    total = 0
    for i in score : 
        total += int(i)

    avg = round(total / len(score), 2)
    
    print(f"{student[0]} \n합계:{total}, 평균:{avg}")
    print("-"*30)
        
f.close()

# ------------------------------
# 김소영 
# 합계:533, 평균:88.83
# ------------------------------
# 정예린 
# 합계:532, 평균:88.67
# ------------------------------
# 이세영 
# 합계:517, 평균:86.17
# ------------------------------
# 정수정 
# 합계:553, 평균:92.17
# ------------------------------
# 박지수 
# 합계:538, 평균:89.67
# ------------------------------

------------------------------
김소영
합계:538, 평균:89.67
------------------------------
정예린
합계:538, 평균:89.67
------------------------------
이세영
합계:538, 평균:89.67
------------------------------
정수정
합계:538, 평균:89.67
------------------------------
박지수
합계:538, 평균:89.67
------------------------------

In [133]:
a = 82+80+93+97 +93 +88
print(a)

533